<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <span id="logo">QUIZ</span>
        <nav>
          <ul class="nav navbar-nav navbar-right">
	        <% if logged_in? %>
                <li><%= link_to "Home", current_user %></li>
                <li><%= link_to "Log out", logout_path, method: :delete %></li>
			<% else %>
          		<li><%= link_to "Log in", login_path %></li>
       		<% end %>

          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
